.Home {
    text-align: center;
    line-height: 6ch;
}

.data {
    text-align: left;
}

.post {
    border-bottom: 1px solid #000;
}

#font {
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px
}

.nav-div{
    width: 14%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#font-E {
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px
}